body{
    background-color: black;
}

h1{
    color: aliceblue;
    text-align: center;
    font-size: 60px;
}

#productoCtn{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}

#productoCtn div{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #fff;
    border: 5px solid #000;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

#productoCtn div img{
    width: 40%;
    justify-content: center;
    align-self: center;
}

#productoCtn div button{
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
}